<% if current_admin_user %>
  <aside class="w-64 bg-white shadow-md">
    <div class="pt-4 px-6">
      <div class="flex items-center justify-between cursor-pointer" onclick="toggleDropdown('students-dropdown')">
        <h2 class="text-2xl font-bold mb-3">Students</h2>
        <svg id="students-icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transform transition-transform" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06 0L10 10.92l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>
      </div>
      <nav id="students-dropdown" class="space-y-2 hidden ml-4">
        <%= link_to 'Student Lists', students_path,
                    class: "block px-4 py-3 rounded-lg #{controller_name == 'students' ? 'bg-blue-500 text-white' : 'text-gray-700 hover:bg-gray-200'}" %>
        <%= link_to 'Student Organizations', organizations_path,
                    class: "block px-4 py-3 rounded-lg #{controller_name == 'organizations' ? 'bg-blue-500 text-white' : 'text-gray-700 hover:bg-gray-200'}" %>
      </nav>
    </div>

    <div class="pt-2 px-6">
      <div class="flex items-center justify-between cursor-pointer" onclick="toggleDropdown('system-role-dropdown')">
        <h2 class="text-2xl font-bold mb-3">System Role</h2>
        <!-- Dropdown icon (chevron) -->
        <svg id="system-role-icon" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transform transition-transform" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06 0L10 10.92l3.71-3.71a.75.75 0 111.06 1.06l-4 4a.75.75 0 01-1.06 0l-4-4a.75.75 0 010-1.06z" clip-rule="evenodd" />
        </svg>
      </div>
      <nav id="system-role-dropdown" class="space-y-2 hidden ml-4">
        <%= link_to 'Admin Lists', admins_path,
                    class: "block px-4 py-3 rounded-lg #{controller_name == 'admins' ? 'bg-blue-500 text-white' : 'text-gray-700 hover:bg-gray-200'}" %>
      </nav>
    </div>
  </aside>
<% end %>

<script>
  function toggleDropdown(id) {
    const dropdown = document.getElementById(id);
    const icon = document.getElementById(id.replace('dropdown', 'icon'));

    dropdown.classList.toggle('hidden');
    icon.classList.toggle('rotate-180');
  }
</script>