<div class="alert-container" data-controller="flash" data-flash-notice-value="<%= notice %>" data-flash-alert-value="<%= alert %>" data-flash-role-value="<%= current_admin_user.role if current_admin_user %>">
</div>
